/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    
    .header-area.sticky .logo{
        margin-top: 15px;
    }
  
    .blog-content{
        margin: 0px 0;
    } 
    .blog-info {
      margin: 6px 0 0 0;
    }   
    .blog-info p {
      margin: 2px 0 5px 0;
    }
    
    
    
    
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    
    .logo {
        margin-top: 35px;
    }

    .logo a {
        font-size: 20px;
        padding: 8px 10px;
    }
    .main-menu {
        margin-right: 30px;
    }
    .main-menu ul li a {
        padding: 40px 4px;
        font-size: 14px;
    }
    .header-search {
        right: 11px;
    }
    
    .header-search a {
        padding: 38px 0px 27px 20px;
    }
    
    
     .header-area.sticky .logo{
        margin-top: 20px;
    }
    .header-area.sticky .logo a{
        font-size: 16px;
    }
    
    .header-area.sticky .main-menu ul li a{
        padding: 20px 3px;
    }

    .about-text h3{
        padding: 20px 0 0 0;

    }
    .search-inside .position-center-center {
      width: 100%;
    }
    .about-contact a {
      margin: 0 5px 0px;
    }
    .about-text p {
      padding: 4px 10px 0;
    }
    .about-text a {
      margin: 8px 0;
    }
    
    testimonial-img{
        height: 450px;
    }
    
    .testimonial-img::before {
      margin-right: 1px;
      top: 104px;
      transform: rotate(116deg);
      width: 106px;
    }
    .testimonial-text > h2 {
      font-size: 20px;
      margin: 10px 0 2px;
    }
    
    .testimonial-text span {
      font-size: 20px;
    }
    
    .blog-content {
      margin: 38px 0;
    }
    .blog-info span {
      font-size: 18px;
       margin: 20px 0 0 0;
    }
    
     .f-notified form input {
          width: 100%;
        }
    .f-notified form button {
          float: left;
          width: 40%;
          margin: 10px 0;
     }

    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    
    .header-area{
        position: relative;
        z-index: 9999;
    }
   .responsive-menu {
        display: block;
        position: absolute;
        right: -18px;
        top: 16px;
       transition: all 0.3s ease 0s;
    }
    
     .header-area.sticky .responsive-menu {
        display: block;
        position: absolute;
        right: -34px;
        top: 16px;
         transition: all 0.3s ease 0s;
    }
    
    .responsive-menu .slicknav_menu{
        background: none;
        padding: 0;
        margin: 0;
    }
    
    .slicknav_nav{
        width: 200px;
        background: #000;
    }
    
    .slicknav_btn{
        margin: 0;
    }
    
    .slicknav_nav ul {
      margin: 0 0 0 1px;
    }
    
    .header-area.sticky .logo a {
        font-size: 15px;
    }
    .logo {
        margin: 20px 0;
    }
    
    .logo a {
        font-size: 11px;
    }
   .header-search {
        right: 24px;
    }
    .header-search a{
      padding: 10px 0px 30px 20px; 
        margin: 10px 0 0 0;
    }
    
    .headding-area-area p {
      width: 300px;
    }
    .search-inside .position-center-center {
      width: 100%;
    }
    .about-me{
        margin-top: 30px;
    }
    
    .my-servise{
       margin-bottom: 30px; 
    }
    
    .portfolio-menu ul li{
        margin: 6px 5px;
    }
    
    .pt-30{
       margin: 0;
    }

    .single-portfolio{
        margin-bottom: 30px;
    }
    
    .testimonial-img::before {
      margin-right: -3px;
      top: 86px;;
      width: 94px;
    }
    
    .testimonial-text > h2 {
      font-size: 20px;
      margin: 14px 0 2px;
    }
    .testimonial-text span {
      font-size: 20px;
    }
    
    .testimonial-text h3 {
      font-size: 20px;
      margin: 2px 0 8px;
    }
    
    
    .my-testimonial .owl-nav{
        text-align: center;
    }
   .my-testimonial .owl-nav div {
       position: relative;
       display: inline-block;
       margin: 0;
    }
    
    
    .my-testimonial .owl-nav div.owl-next {
        position: relative;
        display: inline-block;
        margin: 0;
        left: 10px;
    }
    
    .my-testimonial .owl-nav div.owl-prev {
      right: 0px;
    }
    
    .my-testimonial .owl-nav div {
      top: 35px;
    }
   
   .latest-blog{
        width: 100%;
    }
    
    .blog-content {
      width: 100%;
    }
    
     .blog-area .owl-nav{
        text-align: center;
         margin-top: 10px;
    }
   .blog-area .owl-nav div {
       position: relative;
       display: inline-block;
       margin: 0;
    }
    
    
    .blog-area .owl-nav div.owl-next {
        position: relative;
        display: inline-block;
        margin: 0;
        left: 10px;
    }
    .blog-carousel .owl-nav div.owl-prev {
      right: 0px;
    }
   .blog-carousel .owl-nav div {
      top: 35px;
    }
    
   .contact-wrapper {
      margin: 0 0 45px 0;
    }
    
     .footer{
        padding: 0 0 50px 0;
    }
    .main-footer{ text-align: center;}
    .f-contact{ text-align: center;}
    
 
    .f-notified{
        text-align: center;
    }
    
    .f-notified h4{
        padding: 20px  0 0px 0;
    }
    
    .fotter-bottom-area h3 {
          font-size: 12px;
        }

    
    
 
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}